#entete a, a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#entete .item {
    display: inline-block;
    
    background-color: grey;
    border: 2px black solid;
    border-radius: 8px;
    font-size: 25px;
}

#entete .item:hover {
    background-color: black;
}

#entete {
    background-color: brown;
}

#entete * {
    vertical-align: middle;
}

#entete form {
    display: inline;
    vertical-align: bottom;
}