#entete a {
    color: white;
    display: inline-block;
    background-color: grey;
    text-decoration: none;
    
    border: 2px black solid;
    border-radius: 8px;
}

#entete a :hover {
    background-color: black;
}

#entete {
    background-color: brown;
}

#entete * {
    vertical-align: middle;
}