#entete2 a, a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#entete2 .item {
    display: inline-block;
    
    background-color: grey;
    border: 2px black solid;
    border-radius: 8px;
    font-size: 25px;
}

#entete2 .item:hover {
    background-color: black;
}

#entete2 {
    background-color: #9c1d34;
}

#entete2 * {
    vertical-align: middle;
}

#entete2 form {
    display: inline;
    vertical-align: bottom;
}