#entete2 a, a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#entete2 .item {
    display: inline-block;    
    background-color: #041d34;
    font-size: 20px;
	margin-left:5%;
}

#entete2 .item:hover {
    background-color: black;
}

#entete2 img {
    height:100%;
}

#entete2 {
    background-color: #041d34;
	height:15%;
	position: absolute;
	top:0;
	left:0;
	right:0;
}

#entete2 * {
    vertical-align: middle;
}

#entete2 form {
    display: inline;
    vertical-align: bottom;
}



body 
	{
		background-color: #b7cfe4;
		height:auto;		
	}
#entete
	{
	background: #9D1D34 url("image/logo.png") no-repeat scroll left top;
	height:15%;
	line-height:115px;
	letter-spacing: 2px;
	text-indent: 320px;
	text-transform: uppercase;
	color: white;
	font-family: arial, verdana, sans-serif;
	font-size: 13px;
	clear: both;
	width:100%;
	
	}
	
	
#boxLeft
	{
	vertical-align: top;
	display: inline-block;
	width: 200px;	
	background: #041d34 url("image/france.jpg") no-repeat scroll left bottom;
	height:400px;
	color:white;
	letter-spacing:2px;
	font-family: arial,verdana,sans-serif;
	text-transform:uppercase;
	left:10px;
	margin-top:80px;
	margin-left:15px
	}
	
h2
	{
	
	height:50px;
	line-height:50px;
	text-indent:80px;
	font-size: 13px;
	}
h3
	{
	height:100px;
	text-indent: 13px;
	font-size:12px;
	}
p {height:30px;}

footer
	{
	background: #041d34;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	font-family: arial,verdana,sans-serif;
	letter-spacing:2px;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	}
	
a{text-decoration:none;}	
a.Blanc{color: #FFFFFF;}
a.Bordeaux{color:#FFFFFF;}
a.Orange{color:#FFFFFF;}
